<nav id="desktop-nav">
    <div class="logo"><a href="/" style="text-decoration: none; color: inherit;">Ana Beatriz</a></div>
    <div>
      <ul class="nav-links">
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/habilidades">Habilidades</a></li>
        <li><a href="/projetos">Projetos</a></li>
        <li><a href="/certificados">Certificados</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </nav>
  
  <nav id="hamburger-nav">
    <div class="logo">Ana Beatriz</div>
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span><span></span><span></span>
      </div>
      <div class="menu-links">
        <li><a href="/sobre" onclick="toggleMenu()">Sobre</a></li>
        <li><a href="/habilidades" onclick="toggleMenu()">Habilidades</a></li>
        <li><a href="/projetos" onclick="toggleMenu()">Projetos</a></li>
        <li><a href="/certificados" onclick="toggleMenu()">Certificados</a></li>
        <li><a href="/contato" onclick="toggleMenu()">Contato</a></li>
      </div>
    </div>
  </nav>
  