<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("partials/header") %>
        <title>Contato</title>
        <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include("partials/navbar") %>

        <main>
            <section id="contato">
                <p class="seção-texto-p1">Entre em</p>
                <h1 class="título">Contato</h1>
                <div class="contato-info-upper-container">
                    <div class="contato-info-container">
                        <img src="./assets/email.png" alt="Email Icon" class="icon contato-icon email-icon">
                        <p><a href="mailto:<%=contato.email%>">anabeatrizdscoelho@gmail.com</a></p>
                    </div>
                    <div class="contato-info-container">
                        <img src="./assets/linkedin.png" alt="LinkedIn Icon" class="icon contato-icon">
                        <p><a href="<%=contato.linkedin%>">LinkedIn</a></p>
                    </div>
                </div>
            </section>
        </main>
</body>

</html>