<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("partials/header") %>
    <title>Sobre</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("partials/navbar") %>

    <main>
      <section id="sobre">
        <p class="seção-texto-p1">Saiba Mais</p>
        <h1 class="título">Sobre Mim</h1>
        <div class="seção-container">
          <div class="seção-fotos-container">
            <img src="<%=sobre.sobre_imagem%>" alt="Foto Sobre" class="foto-sobre" />
          </div>
          <div class="seção-texto">
            <div class="detalhes-container">
              <p>
                <%=sobre.sobre_texto%>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>

</html>