<!DOCTYPE html>
<html lang="pt-br">
    
  <head>
    <%- include("partials/header") %>
    <title>Sobre</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>

    <main>
      <section id="sobre">
        <p class="seção-texto-p1">Saiba Mais</p>
        <h1 class="título">Sobre Mim</h1>
        <div class="seção-container">
          <div class="seção-fotos-container">
            <img src="/assets/Foto Perfil 02.jpeg" alt="Foto Sobre" class="foto-sobre" />
          </div>
          <div class="seção-texto">
            <div class="detalhes-container">
                <p>
                    Olá! Sou a Ana Beatriz, e estou cursando o 2º Semestre de Desenvolvimento de Software Multiplataforma na FATEC - São José dos Campos. <br> Tenho experiência em projetos que utilizam React, JavaScript, Node.js, TypeScript e Python, e possuo conhecimentos em Banco de Dados e Design Digital. <br> Meu objetivo é me especializar na área e me tornar uma Desenvolvedora Web FullStack. <br> Além disso, tenho grande interesse pelo aprendizado de idiomas, tendo atingido um nível intermediário de proficiência em inglês. <br> Meu conjunto de habilidades inclui capacidade de trabalho em equipe, pensamento crítico, adaptabilidade, aptidão para resolução de problemas, comunicação eficaz, organização, proatividade e resiliência. 
                </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
